/*初始化代码*/
body,div,p,ul,li,h3,img,h4,h5{margin: 0px; padding: 0px;}
li{list-style: none;}
a{text-decoration: none; color: black;}
/*初始化代码结束*/

body{background: white;}

/*top项开始*/
#top{width: 100%; height: 180px; background: white;}
#top .logo{width: 170px; height: 180px; margin-left: 150px; position: relative;}
#top .logo a{display: block; width: 200px; height: 185px; margin: 0 auto; color: black;}
#top .logo a img{width: 65%; height: 80%; margin-top: 15px;}
#top .logo p{position: absolute; left: 155px; top: 103px; width: 50px; height: 30px; color: black;}
#top .menu{width: 750px; height: 180px; float: right; margin-top: -180px; margin-right: 55px;}
#top .menu p{width: 120px; height: 30px; float: right; margin-top: 50px; 
text-align: center;}
#top .menu p a{color: black;}
#top .menu p a:hover{text-decoration: underline;}
#top .menu ul{width: 700px; height: 75px; margin-top: 100px; margin-left: 38px;}
#top .menu ul li{float: left; width: 100px; height: 30px; text-align: center;}
#top .menu ul li a{color: black;}
#top .menu ul li a:hover{color: #B98C4B;}
/*top项结束*/

/*banner开始*/
#banner{width: 100%; height: 580px; background: blue;}
#banner img{width: 100%; height: 580px;}
/*banner结束*/

/*content开始*/
#word{width: 100%; height: 297px;  margin-top: 30px;}
#word h3{width: 100%; height: 60px; font-size: 36px; font-weight: 350; text-align: center; margin-bottom: 30px;
color: black;
}
#word h5.tit1{width: 100%; height: 25px; text-align: center; font-size: 16px; font-weight: bold;
color: black;
}
#word p{width: 930px; height: 65px; text-align: center; margin: 17px auto; font-size: 14px;
color: black;
}
#word h5.tit2{width: 100%; height: 30px; text-align: center; font-size: 16px; font-weight: 400;
color: black;
}
#word h5.tit2:hover{text-decoration: underline;}
#word .more{width: 120px; height: 50px; margin: 0 auto; border: 1px solid black;
box-shadow: 0 0 5px black; transition: 0.5s;
}
#word .more:hover{transform: scale(1.1);}
#word .more a img{width: 100%; height: 100%; }
/*content结束*/

/*content pic开始*/
#contpic{width: 100%; height: 610px; margin-top: 60px;
}
#contpic ul{width: 100%; height: 610px;}
#contpic ul li{width: 20%; height: 310px; float: left; overflow: hidden; background: black;}
#contpic ul li a img{width: 100%; height: 100%;transition: .5s;
}
#contpic ul li:hover a img{opacity: 0.4;}
#contpic ul li a img:hover{background: rgba(0,0,0,0.5); transform: scale(1.2);}
#contpic ul li.l-word{background: white;}
#contpic ul li.l-word h4{width: 100%; height: 38px; font-size: 30px; text-align:center; font-weight: 300;
margin-top: 70px; color: black;
}
#contpic ul li.l-word h5{width: 100%; height: 55px; text-align: center; font-size: 40px; font-weight: 400;
margin-top: 20px; color: black;
}
#contpic ul li.l-word p{width: 100%; height: 20px; text-align: center; font-size: 14px;
margin-top: 12px; color: black;
}
/*content pic结束*/

/*introduce开始*/
#introduce{width: 100%; height: 415px;  margin-top: 80px;}
#introduce h3{width: 100%; height: 60px; text-align: center;
font-size: 36px; font-weight: 350; color: black;
}
#introduce h5.tit3{width: 100%; height: 25px; text-align: center; font-size: 16px; font-weight: bold;
margin-top: 40px; color: black;
}
#introduce p.word1{width: 825px; height: 65px; text-align: center; margin: 17px auto; font-size: 14px;
margin-top: 5px; color: black;
}
#introduce p.word2{width: 830px; height: 65px; text-align: center; margin: 17px auto; font-size: 14px;
margin-top: -35px; color: black;
}
#introduce .more{width: 120px; height: 50px; margin: 0 auto;
border:1px solid black; box-shadow: 0 0 5px black;
transition: 0.5s;
}
#introduce .more:hover{transform: scale(1.1);}
#introduce .more a img{width: 100%; height: 100%;}
/*introduce结束*/

/*bottom开始*/
#bottom{width: 100%; height: 227px; background: #2F2F30; overflow: hidden;}
#bottom ul{width: 965px; height: 170px; ; 
margin: 0 auto; margin-top: 35px;
}
#bottom ul li{width: 165px; height: 165px; float: left; background: #180F06;
text-align: center; line-height: 165px; margin-right: 28px;
border-radius: 50%; transition: 0.5s;
}
#bottom ul li a{color: white; display: block; width: 165px; height: 165px;}
#bottom ul li:hover{transform: scale(1.2);}
/*bottom结束*/

/*contact us开始*/
#contus{width: 100%; height: 90px; overflow: hidden; background: #180F06;}
#contus ul{width:1050px; height: 66px; margin: 0 auto; margin-top: 13px;}
#contus ul li{margin-top: 25px; color: white;}
#contus ul li a{color: white;}
#contus ul li.fuhao{width: 5px; height: 20px; float: left; text-align: center; font-size: 13px;}
#contus ul li:nth-child(2){width: 160px; height: 20px; float: left; text-align: center; font-size: 13px;}
#contus ul li:nth-child(4){width: 125px; height: 19px; text-align: center; font-size: 13px; float: left;}
#contus ul li:nth-child(6){width: 111px; height: 16px; text-align: center; font-size: 13px; float: left;}

#contus ul li.en{width: 425px; height: 23px; text-align: center; font-size: 13px; float:right;
margin-right: 205px;
}
/*contact us结束*/